@import "../styles/variables.scss";

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: $primary-font-size;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  margin-top: 3rem;
}

hr {
  width: 50%;
}

a {
  text-decoration: none;
}

.profile-icon {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  object-fit: cover;
  border: 3px solid $secondary-colour;
  border-radius: 50%;
  transition-duration: 400ms;
}

.profile-icon:hover {
  filter: grayscale(100%);
}

#spacing {
  height: 100px;
}

h4 {
  color: $secondary-colour;
  text-align: center;
  margin-top: 0;

  a {
    color: $star;
    transition-duration: 300ms;
  }

  a:hover {
    text-shadow: 2px 2px #ff0000;
  }
}

.error {
  text-align: center;
  color: rgb(187, 63, 63);
  font-weight: bold;
  margin-top: 0;
}
