@import "../styles/variables.scss";

.profile-header {
  color: $secondary-colour;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

  a {
    display: flex;
    align-self: flex-end;
  }

  .upload-image {
    font-size: medium;
    font-weight: 600;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: fit-content;
    border: 0px;
    border-radius: 30px;
    transition-duration: 200ms;


    input[type="file"] {
      display: none;
    }

    i {
      position: absolute;
      transform: translate(-180%, 400%);
      font-size: 40px;
      color: #F6F1F1;
    }
  }
  
  .profile-display-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid $secondary-colour;
    border-radius: 50%;
    margin-right: 2rem;
    flex-shrink: 0;
    transition-duration: 200ms;
  }

  #change-photo {
    display: none;
    position: absolute;
    transform: translate(45%, -700%);
    font-weight: bold;
  }
  
  .profile-display-picture:hover ~ #change-photo {
    display: block;
  }

  .fa-circle-user {
    transition-duration: 200ms;
  }

  .profile-display-picture:hover ~ .fa-circle-user {
    filter: brightness(50%);
  }

  .profile-display-picture:hover {
    filter: brightness(50%);
  }

  .handle-and-bio {
    max-width: 30vw;
    min-width: 20vw;

    h1 {
      font-size: xx-large;
    }

    p {
      font-size: large;
      word-wrap: break-word;
    }
  }
}

.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;

  .edit-profile-shows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  h1 {
    color: $secondary-colour;
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;

    p {
      color: $secondary-colour;
      font-weight: bold;
      margin-left: 1rem;
      margin-top: 5px;
      margin-bottom: 0;
    }
    
    textarea {
      font-size: large;
      height: 3rem;
    }

    input {
      font-size: x-large;
      font-weight: bold;
      height: 0.5rem;
      margin-top: 1rem;
    }

    textarea, input {
      resize: none;
      background-color: $secondary-colour;
      color: $primary-colour;
      border-radius: 5px;
      padding: 1rem;
      font-family: $font-fam;
      background-color: $secondary-colour;
      border: 0px;
      width: 35vw;

      &:focus {
        outline: none;
      }
    }
  }

  .edit-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .add-favourite-show {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .add-favourite {
      height: 10rem;
      border-radius: 60%;
    }

    .MuiInputBase-root {
      background-color: $secondary-colour;
      height: 3.5rem;

      input {
        color: $primary-colour;
        font-family: monospace;
        font-weight: lighter;
        margin-top: 0;
      }
    }
  }
}

.profile-article {
  display: flex;
}

.profile-hide-spoiler {
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: 600;
  height: 2rem;
}

.edit-profile-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 80%;

  .category-item {
    height: 2rem;
  }
  
  img {
    display: none;
  }
}