article {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 40%;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 10px 10px grey;

  .screen-and-buttons {
    display: flex;
    justify-content: space-between;
  
    .screen {
      background-color: #F6F1F1;
      min-height: 10rem;
      text-align: left;
      margin-right: 1rem;
      border-radius: 30px;

      p {
        margin: 1rem;
      }

      img {
        display: flex;
        max-width: 100%;
        border-radius: 0 0 30px 30px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .actions {
        color: #282c34;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30px;

        i {
          margin-top: 0.5rem;
          transition-duration: 200ms;
        }

        .fa-star:hover {
          // text-shadow: 30px -15px #FF8C00;
          color: #FF8C00;
          font-size:xx-large
        }

        .fa-star:active {
          text-shadow: 30px -15px #FF8C00;
        }

        .fa-circle-plus:hover {
          color: #006400;
          font-size:xx-large
        }

        .fa-circle-plus:active {
          text-shadow: 30px -15px #006400;
        }

        .fa-comment-dots:hover {
          color: #483D8B;
          font-size:xx-large
        }
      }
    }
  }

  .article-tags {
    background-color: #F6F1F1;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: fit-content;
    border-radius: 30px;
  }
}
