@import "../styles/variables.scss";

article {
  background-color: $tertiary-colour;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 40%;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 10px 10px $article-shadow;

  .screen-and-buttons {
    display: flex;
    justify-content: space-between;
  
    .screen {
      background-color: $secondary-colour;
      min-height: 10rem;
      text-align: left;
      margin-right: 1rem;
      border-radius: 30px;

      p {
        margin: 1rem;
      }

      img {
        display: flex;
        max-width: 100%;
        border-radius: 0 0 30px 30px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .actions {
        color: $primary-colour;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30px;

        i {
          margin-top: 0.5rem;
          transition-duration: 200ms;
        }

        .fa-star:hover {
          // text-shadow: 30px -15px #FF8C00;
          color: $star;
          font-size:xx-large
        }
        .fa-star:active {
          text-shadow: 30px -15px $star;
        }

        .fa-circle-plus:hover {
          color: $watchlist;
          font-size:xx-large
        }
        .fa-circle-plus:active {
          text-shadow: 30px -15px $watchlist;
        }

        .fa-comment-dots:hover {
          color: $comment;
          font-size:xx-large
        }
        .fa-comment-dots:active {
          text-shadow: 30px -15px $comment;
        }
      }
    }
  }

  .article-tags {
    background-color: $secondary-colour;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: fit-content;
    border-radius: 30px;
    transition-duration: 200ms;
  }

  .article-tags:hover {
    background-color: $primary-colour;
    color: $secondary-colour;
  }
}
