@import "../styles/variables.scss";

.article-tags {
  background-color: $secondary-colour;
  font-size: medium;
  font-weight: 600;
  margin: 0.5rem 1rem 0rem 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: fit-content;
  border: 1px solid $secondary-colour;
  border-radius: 30px;
  transition-duration: 200ms;
}

.article-tags:hover {
  background-color: $primary-colour;
  color: $secondary-colour;
}

.category-list{
  display: flex;
  
    li {
      list-style: none;
      margin: 10px;
      border: 1px solid rgb(234, 225, 225);
      border-radius: 10px;
    }
}