@import "../styles/variables.scss";

.pill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $secondary-colour;
  color: $primary-colour;
  font-family: $font-fam;
  display: flex;
  font-size: medium;
  font-weight: 600;
  margin: 0rem 1rem 0rem 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: fit-content;
  border-radius: 30px;
  transition-duration: 200ms;
}

.pill-container:hover {
  background-color: $primary-colour;
  color: $secondary-colour;
}

.pill-container:link {
  text-decoration: none;
}

.category-filters {
  height: 100%;
  margin-bottom: 1rem;

  .general-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    height: 80px;
  
    p {
      margin: 0px;
    }
  }
}

.category-item {
  margin-top: 0.5rem;
}

.category-list{
  color: $primary-colour;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;

  p {
    margin: 0px;
    align-self: center;
    vertical-align: middle;
    text-align: center;
  }

  img {
    display: none;
  }

    .category-item:hover {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      img {
        display: block;
        object-fit: cover;
        object-position: 0 30%;
        border-radius: 30px;
        width: 200px;
        height: 7rem;
      }

      p {
        display: none;
      }
    }
}

.favourite-show {
  background-color: $primary-colour;
  color: $secondary-colour;
  border: 3px solid white;
}

.clicked {
  background-color: $primary-colour;
  color: $secondary-colour;
  border: 3px solid white;
}

.show-all {
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: 600;
  height: 2rem;
}