@import "../styles/variables.scss";

.pill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $secondary-colour;
  color: $primary-colour;
  font-family: $font-fam;
  display: flex;
  font-size: medium;
  font-weight: 600;
  margin: 0rem 1rem 0rem 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: fit-content;
  border-radius: 30px;
  transition-duration: 200ms;
}

.pill-container:hover {
  background-color: $primary-colour;
  color: $secondary-colour;
}

.pill-container:link {
  text-decoration: none;
}

.category-filters {
  height: 100%;
  margin-bottom: 1rem;

  .general-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    height: 80px;
  
    p {
      margin: 0px;
    }
  }
}

.category-item {
  margin-top: 0.5rem;
  
}

.overflow{
  overflow-x: scroll;
  overflow-y: hidden;
  width: 550px;
  height: 190px;
  display: flex;
  flex-direction: row; 
  justify-content: start!important;
    

  /* width */
  &::-webkit-scrollbar {
    width: 20px;
    height: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
}

.category-list{
  color: $primary-colour;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // flex-wrap: wrap;
  
  .pill-image{
    padding: 0;
    margin:.5em;

    p {
      display: none;
    
    }
    img {
      display: flex;
      border-radius: 20px;
      height: auto; 
      width: auto; 
      max-width: 170px;
      max-height: 170px;
    }
      &:hover  {   
        display: inline;
        border-radius: 20px;
        opacity: 0.8;
        padding: 0;

    //  p {
    //       display: inline;
    //       margin: 10px 0;
    //       align-self: center;
    //       vertical-align: middle;
    //       text-align: center;
    //       background:linear-gradient(#1095c1 0 0)
    //       bottom/100% var(--_d, 0) no-repeat;
    //     }
    }
  }   
}

.favourite-show {
  background-color: $primary-colour;
  color: $secondary-colour;
  border: 3px solid white;
}

.clicked {
  background-color: $primary-colour;
  color: $secondary-colour;
  border: 3px solid white;
}

.show-all {
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: 600;
  height: 2rem;
}