@import "../styles/variables.scss";

.create-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 12rem;
  margin-top: 1rem;
  color: $secondary-colour;

  .fa-marker:hover {
    background-color: $tertiary-colour;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-colour;
    font-size: xx-large;
    font-weight: 800;
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .fa-marker:active {
    width: 70px;
    height: 70px;
  }
}