@import "../styles/variables.scss";

header {
  background-color: $primary-colour;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15% 1rem 15%;
  border-bottom: 3px solid $secondary-colour;
  position: fixed;
  width: 70vw;
  z-index: 1;
}

.fa-bars {
  font-size: x-large;
  color: $secondary-colour;
}

.logo-image {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 35px;
  height: auto;
}

.logo-name {
  color: $secondary-colour;
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-weight: 700;
}