@import "../../styles/variables.scss";

.write-post {
  background-color: $secondary-colour;
  margin: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  width: 43vw;
  gap: 1rem;
  border-radius: 30px;
  margin-bottom: 0;
  margin-top: 2rem;

  .right-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;

    .spoiler-checkbox {
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgb(217, 180, 146);
      margin-right: 0;

      span {
        color: $primary-colour;
        font-weight: bold;
        font-family: var(--font);
        padding-left: 0;
      }

      span:hover {
        background-color: transparent;
      }
    }

    label {
      margin: 0;

      .fa-image {
        font-size: large;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }
    
    input[type="file"] {
      display: none;
    }
    
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    textarea {
      resize: none;
      height: 5rem;
    }

    textarea, input {
      font-size: $primary-font-size;
      background-color: $secondary-colour;
      border: 0px;

      &:focus {
        outline: none;
      }
    }

    .MuiInputBase-root {
      width: 100%;

      input {
        color: $primary-colour;
        font-family: monospace;
        font-size: large;
      }
    }
  }

  #demo-select-small {
    font-family: monospace;
  }

  #upload-image {
    background-color: $image;
  }

  .dropdown {
    width: 100%;
  }
}