header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5em;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .logo {
  color: #fff;
  font-family: "Bungee", sans-serif;
  font-size: 30pt;
  padding-right: 1500px;
  text-transform: uppercase;
}
header .logo:hover {
  text-shadow: 5px 5px #d0b6b6;
}

.container {
  color: white;
  word-wrap: break-word;
  flex-direction: column;
  align-items: center;
  padding-top: 15em;
}
.container h1 {
  font-family: "Bungee", sans-serif;
  text-transform: uppercase;
}
.container h1:hover {
  text-shadow: 5px 5px #d0b6b6;
}
.container #cart-container {
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  padding-right: 6%;
}
.container .cart_id {
  display: none;
}
.container .cart-item {
  display: flex;
  margin-top: 1.5em;
  border: solid white;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
  font-size: 16pt;
  flex-wrap: wrap;
  font-family: "Bungee", sans-serif;
}
.container .cart-item h2 {
  flex-grow: 2;
}
.container .cart-item .fa-sharp {
  size: 20px;
  color: #ff0000;
  padding-left: 30px;
}
.container .cart-item .fa-sharp:hover {
  text-shadow: 1px 1px red;
  size: 20px;
  color: #ff0000;
  padding-left: 20px;
}
.container button {
  margin-top: 20px;
}

article.cart-item:hover {
  text-shadow: 7px 7px #d0b6b6;
  box-shadow: 10px 10px #000000;
}