@import "../../styles/variables.scss";

header {
  background-color: $primary-colour;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15% 1rem 15%;
  border-bottom: 3px solid $secondary-colour;
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  z-index: 1;
}

.settings {
  background-color: $tertiary-colour;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7.5rem;
  width: 200px;
  position: fixed;
  left: 10vw;
  padding-top: 100px;
  border-radius: 30px;
}

.fa-bars {
  font-size: x-large;
  color: $secondary-colour;
  transition-duration: 200ms;
  left: 10vw;
}

.fa-bars:hover {
  background-color: $secondary-colour;
  box-shadow: 0 0 0 7px $secondary-colour;
  color: $primary-colour;
  border-radius: 5px;
}

.fa-bars:active {
  box-shadow: 0 0 0 5px $secondary-colour;
}

.logo-image {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 35px;
  height: auto;
}

.logo-name {
  color: $secondary-colour;
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-weight: 700;
}

.header-icon {
  right: 10vw
}

.header-buttons{
  display: flex;

  .guest-actions {
    display: flex;

    .pill-container {

    }
  }
}
